.hidden{
	background: transparent;
	position: relative;
	z-index: -1;
	color: transparent;
	margin-bottom: 10px;
}

.bg-color-1 {
	background-color: rgba(0,174,239,1);
}

.bg-transparent {
	background-color: transparent !important;
}

.bg-color-primary{
	background-color: #007bff !important;
}

.margin-bottom-1 {
	margin-bottom: 8px !important;
}

.foto_profil{
	background: ;
	position: relative;
	padding: 20px 0px;
}

.foto_profil img {
	width: 120px !important;
	height: 120px !important;
	border-radius: 50%;
	box-shadow: 1px 2px 5px 3px #ccc;
	padding: 3px;
	border: 4px solid #00aeef;
	margin:0 auto;
	display: block;
}

.foto_profil-2 img{
	width: 150px;
	min-height: 150px;
	max-height: 180px !important;
	padding: 3px;
	border: 3px solid #adb5bd;
	margin:0 auto;
	display: block;
}

.warna-icon-login {
	background: #00aaef !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}

.warna-icon-delete {
	background: #ff0000 !important;
	color: white !important;
	border: 0 !important;
}

.warna-icon-delete:hover {
	background: #c82333 !important;
	color: white !important;
	border-color: #bd2130;
}

.warna-icon-edit {
	background-color: #6c757d !important;
	color: #fff !important;
	border-color: #6c757d;
}

.warna-icon-edit:hover {
	background-color: #5a6268 !important;
	color: #fff ;
	border-color: #545b62;
}

.border-list {
	border-color: #00aaef !important;
}

.border-list:focus {
	box-shadow: 0px 0px 0px 0px !important;
	border-color: red !important;
}

.border-radius-1 {
	border-radius: 0 !important;
}

.border-radius-2 {
	border-radius: 0px 5px 5px 0px !important;
	padding: 13px 15px !important;
}

.text-decoration {
	color: #6c6c6c;
	font-size: 10pt;
}

.text-decoration-2 {
	text-decoration: none !important;
	font-size: 10pt;
	
}

.card-index {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0px 0px 10px 1px #f0f0f0;
}

.card-header2{
	padding:.10px 0px;
	margin-bottom:20px;
	border-bottom: 3px solid rgba(0,0,0,.125);
}

.card-header2:first-child{
	border-radius:calc(.25rem - 0) calc(.25rem - 0) 0 0;
}

.table-index{
	width:100%;
	margin-bottom:1rem;
	color:#212529;
}

.table-index td {
	padding:.75rem;
	vertical-align:top;
	color: #212529;
	border: 1px solid #ddd;
	border-top:1px solid #dee2e6;
}

.table-index td:hover {
	background-color: #ddd;
}

.table-index th{
	padding:.75rem;
	text-align: center;
	vertical-align:center;
	color: #fff;
	border: 1px solid #ddd;
	border-top:1px solid #dee2e6;
}

.table-index thead th{
	background-color: #00aeef;
	vertical-align:center;
	border-bottom:2px solid #0072bc;
}

.table-index tbody+tbody{
	border-top:2px solid #dee2e6
}

.main-footer2{
	background-color: rgba(0,0,0,.03);
	border-top: 1px solid #ddd;
	padding: 15px 20px;
	width: 100%;
	margin-top: 20px;
	bottom:0;
	left:0;
	right:0;
	z-index:1032
}

.tengah{
	margin: 5px auto;
	width: 1150px;
}

.kotak_tengah{
	background: #fff;
	padding: 20px 30px;
	margin: 80px 0px 0px 200px;
	position: relative;
	width: 870px;
	height: 300px auto;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 10px 1px #f0f0f0;
	border: 1px solid #f0f0f0;
}

.kotak_tengah2{
	background: #fff;
	padding: 20px 30px;
	/*margin: 5px 0px 0px 200px;*/
	position: relative;
	width: 300px;
	height: 300px auto;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 10px 1px #f0f0f0;
	border: 1px solid #f0f0f0;
}

.kotak_dalam {
	border-bottom: 3px solid #d7d7d7;
	font-family: cursive;
	float: left;
	padding-bottom: 5px;
	margin-bottom: 10px;
	width: 100%;
	font-size: 20pt;
}

.textbox1{
	position: relative;
	background: #fff;
	position: static;
	height: 30px;
	width: 150px;
	margin-top: 5px;
	padding: 5px;
	font-size: 14px;
	font-family: sans-serif;
	border: 1px solid #00aeef;
	border-radius: 5px;
	outline-color: transparent;
}

.textbox1:focus {
	border-color: #007bff;
	outline: 0;
	box-shadow: 0px 0px 5px 1px #00aeef;
}

.textbox2{
	position: relative;
	background: #fff;
	position: static;
	height: 120px;
	width: 100%;
	margin-top: 5px;
	padding: 5px;
	font-size: 14px;
	font-family: sans-serif;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	outline-color: transparent;
}

.textbox2:focus {
	border-color: #007bff;
	outline: 0;
	box-shadow: 0px 0px 5px 1px #00aeef;
}


.button-right {
	float: right;
	position: relative;
	text-decoration: none;
}

.button-left {
	float: left;
	position: relative;
	text-decoration: none;
}

.button-space {
	padding: 0.375rem 0.95rem !important;
}

.border-radius50 {
	border-radius: 50%;
}

.filter-blue{
	filter: invert(41%) sepia(96%) saturate(1431%) hue-rotate(163deg) brightness(97%) contrast(101%);
}

.user-panel img{
	height:2.1rem;
	width:2.1rem
}

.text-lockscreen-1 {
	font-size: 10pt;
	color: #777;
	text-align: center !important;
}

.text-lockscreen-2 {
	font-size: 10pt;
	text-align: center !important;
}

.font-setting-1 {
	padding-left: 40px;
	font-size: 12pt;
}

.font-setting-2 {
	padding-left: 40px;
	font-size: 10pt;
	color: #000;
}

.font-setting-3 {
	color: #fff;
}

.font-setting-4 {
	color: #fff;
}

.font-setting-4:hover {
	color: #ddd !important;
}


