.container{
  position:relative;
  padding:15px;
  height: 500px;
}

.background-image{
  position:fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: url('../../gambar/QBIG BSD.jpg');
  background-size: cover;
  z-index: -2;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); 

}

.tengah{
  margin: 50px auto;
  width: 1150px;
}

.kotak_tengah2{
  background: rgba(255,255,255,0.9);
  padding: 20px 30px;
  position: relative;
  z-index: 1;
  width: 400px;
  height: 350px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 10px 1px rgba(240,240,240,0.8);
  border: 1px solid #f0f0f0;
}

.button{
  height: 100px;
  width: 160px;
  margin: 0px 3px;
  position: relative;
  display: inline-block;
  padding: 10px 5px;
  border-radius: 5px;
  text-align: center;
  box-shadow: -1px 3px 3px 2px #dfdfdf;
}

.button-blue {
  background-color: rgba(0,123,255,0.9);
  border: 4px solid rgba(0,111,230,0.8);
}

.button-red {
  background-color: rgba(220,53,69,0.9);
  border: 4px solid rgba(193,42,57,0.8);
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 25pt;
  font-weight: 500;
  font-family: Cambria,"Times New Roman",serif;
  line-height: 30px;
}

a:hover {
  text-decoration: none;
  color: rgba(255,255,255,0.8);
  font-size: 28pt;
}